/* styles/globals.css */

/* --- Reset --- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* --- Setup --- */
html,
body {
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  background-color: #f9fafb;
  color: #222;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 4px;
}

/* Link */
a {
  text-decoration: none;
  color: inherit;
}

/* textarea*/
textarea {
  resize: none;
}

/* Utils */
.flex {
  display: flex;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-muted {
  color: #6b7280;
}

.shadow {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
}
